<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.community.dao.DiscussPostMapper">

    <sql id="selectFields">
        id
        ,user_id,title,content,type,status,create_time,comment_count,score</sql>

    <!--查询帖子列表，userID是动态参数
    order by type是为了置顶-->
    <select id="selectDiscussPosts" resultType="DiscussPost">
        select
        <include refid="selectFields"/>
        from discuss_post
        where status !=2
        <if test="userId!=0">and user_id = #{userId}</if>
        <if test="orderMode==0">
            order by type desc,create_time desc
        </if>
        <if test="orderMode==1">
            order by type desc,score desc,create_time desc
        </if>
        limit #{offset},#{limit};
    </select>

    <select id="queryDiscussPosts" resultType="DiscussPostVO">
        SELECT t1.id,
               user_id,
               username,
               header_url,
               title,
               content,
               t1.type,
               t1.status,
               t1.create_time,
               comment_count,
               score
        FROM (SELECT id,
                     user_id,
                     title,
                     content,
                     type,
                     status,
                     create_time,
                     comment_count,
                     score
              FROM discuss_post
              WHERE status != 2
              ORDER BY create_time DESC) t1
                 LEFT JOIN user ON t1.user_id = user.id
    </select>

    <!--根据帖子ID查帖子，为了帖子详情服务-->
    <select id="selectDiscussPostById" resultType="DiscussPost">
        select
        <include refid="selectFields"></include>
        from discuss_post
        where id = #{id}
    </select>

    <!--查询帖子行数…是为了那里服务的？-->
    <select id="selectDiscussPostRows" resultType="int">
        select count(id)
        from discuss_post
        where status !=2
        <if test="userId!=0">and user_id = #{userId}</if>
    </select>

    <insert id="insertDiscussPost" parameterType="DiscussPost" keyProperty="id">
        insert into discuss_post(user_id, title, content, type, status, create_time, comment_count, score)
        values (#{userId}, #{title}, #{content}, #{type}, #{status}, #{createTime}, #{commentCount}, #{score})
    </insert>

    <update id="updateCommentCount">
        update discuss_post
        set comment_count = #{commentCount}
        where id = #{id}
    </update>

    <update id="updatePostType">
        update discuss_post
        set type = #{type}
        where id = #{id}
    </update>

    <update id="updatePostStatus">
        update discuss_post
        set status = #{status}
        where id = #{id}
    </update>

    <update id="updateScore">
        update discuss_post
        set score = #{score}
        where id = #{id}
    </update>
</mapper>